<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>食品成分データベースとは？（食品成分DB）</h1>
    </header>

    <section>
        <h2>食品成分データベースとは？</h2>
        <p>
            食品成分データベースは、<a
                href="https://www.mext.go.jp">「日本食品標準成分表（八訂）増補2023年」</a>をデータソースとして、食品成分に関するデータをインターネットを通じて提供しているものです。
        </p>
        <p>
            また、食品成分データの利用及び引用については、<a href="https://www.mext.go.jp">「日本食品標準成分表・資源に関する取組」のページ</a>をご参照願います。
        </p>
    </section>

    <section>
        <h2>この研究について</h2>

        <h3>期間</h3>
        <p>
            [第１期] 1994年10月1日 ～ 1997年3月31日<br>
            [第２期] 1997年11月1日 ～ 1999年3月31日
        </p>

        <h3>研究の背景</h3>
        <p>
            食品成分に関するデータベースは、食品学、栄養学、農学、医学、化学分析学、醸造学、
            高分子化学、冷凍工学、輸送工学といった多くの分野の研究者に必要とされる、
            共有されるべき重要なデータベースである。さらにこのデータベースの利用者は、各専門分野の研究者のみならず、
            長寿社会、予防医療学の観点から、栄養士、調理師、教育関係者を当然のこととして、
            さらには一般家庭においても利用され得るものである。
        </p>
        <p>
            しかしそれらは、現在は研究文献の中にデータとして散見されるものの、
            体系的に整理し、各分野の研究に共通に利用できるデータベースとして整備されていない状況である。
            国際的には、学界を中心として、食品成分や健康・栄養情報のデータベースのネットワーク化の構想があるが、
            わが国はこれらの動向には取り残されている。
            このような食品成分に関するデータベースの貧弱さを踏まえて、
            本格的な食品成分データベースの整備の前段として、
            データベース化さらに研究情報ネットワーク搭載のための技術的課題を明らかにし、
            その解決の方策を探ることが求められている。
        </p>

        <h3>研究の目的</h3>
        <p>
            ビタミン、ミネラル等の食品に含まれる栄養成分のデータをデータベースとして整理し、
            成人病患者の食事療法、学校・病院等集団給食施設の献立管理、
            食品学・栄養学等の試験研究等多様なユーザ、広範な利用形態に対応した機能を実現するため、
            食品成分データベースの仕様作成及び運用に関する研究を進め、
            パイロットデータベースの作成に資する。
        </p>

        <h3>研究の経過</h3>
        <p>
            1994年度: 食品成分DBの構成設計，収集データ決定<br>
            1995年度: 食品成分DB検索システムプロトタイプ作成及び基本設計<br>
            1996年度: 食品成分DBインターネット対応検索システム開発<br>
            1997年度: 食品成分DB高度化に向けて基本設計<br>
            1998年度: 食品成分DB高度化に向けて開発実施
        </p>
    </section>

    <footer>
        <p>© Japan Science and Technology Agency. All rights reserved.</p>
    </footer>
</body>

</html>